@import "tailwindcss";

:root {
  background: #000000;
  color: #ffffff;
}

body {
  background: #000000;
  color: #ffffff;
}


/* globals.css 맨 아래에 추가 */
.text-stroke {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  color: transparent;
}

.text-stroke:hover {
  -webkit-text-stroke: 0px;
  color: #00ff00;
}